{% extends 'base.html' %}

{% block title %}
    {{ object.date }}
{% endblock %}

{% block navbar_addons %}
    <li class="separator"></li>

    <li class="addons-lvl-1">
        {% if request.GET.author %}
            <a href="{% url 'author-list' %}">
                Lista autorów
            </a>
        {% elif request.GET.category %}
            <a href="{% url 'category-detail' slug=request.GET.category %}">
                Lista kategorii
            </a>
        {% else %}
            <a href="{% url 'issue-list' %}">
                Lista numerów
            </a>
        {% endif %}
    </li>

    <li class="addons-lvl-2">
        <span>
            {{ object.date }}
        </span>
    </li>

{% endblock %}

{% block content %}
    {% load static %}
    <div class="row">
        <div class="col-12 header header-bg issue-detail-header">
            <a href="{{ object.prev.get_absolute_url }}"
               class="float-left navigation-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     id="issue-detail-arrow-right" x="0px" y="0px"
                     viewBox="0 0 451.847 451.847"
                     xml:space="preserve">
                <g style="{% if not object.prev %}visibility: hidden{% endif %}">
                    <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0   c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744   c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"/>
                </g>
                </svg>
            </a>

            {{ object.date }}

            <a href="{{ object.next.get_absolute_url }}"
               class="float-right navigation-arrow{% if not object.next %} really-hidden{% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     id="issue-detail-arrow-left" x="0px" y="0px"
                     viewBox="0 0 451.847 451.847"
                     xml:space="preserve">
                <g style="{% if not object.next %}visibility: hidden{% endif %}">
                    <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744   L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284   c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"/>
                </g>
                </svg>
            </a>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-12">
            <div class="row">
                <div class="col-12 text-center d-md-none d-lg-block col-lg-3">
                    <div class="p-3 light-shadow d-inline-block issue-detail-cover-wrapper">
                            <img src="{{ object.cover_url }}"
                                         class="img-fluid issue-detail-cover small-shadow"
                                         alt="Studia Pigoniana - Okładka {{ object.date }}">
                    </div>
                </div>

                <div class="col-12 p-4 p-lg-0 pr-lg-5 issue-detail-description-wrapper col-lg-9">
                    {% if object.description %}
                        <img src="{{ object.cover_url }}"
                             class="img-fluid issue-detail-cover small-shadow m-2 ml-0 float-left
                             d-none d-md-inline-block d-lg-none"
                             alt="Studia Pigoniana - Okładka {{ object.date }}" >

                        {{ object.description|safe }}
                    {% else %}
                        <p class="mb-0 p-2 p-lg-0 text-justify d-block clearfix">
                            <img src="{{ object.cover_url }}"
                             class="img-fluid issue-detail-cover small-shadow m-2 ml-0 float-left
                             d-none d-md-inline-block d-lg-none"
                             alt="Studia Pigoniana - Okładka {{ object.date }}" >

                            {{ object.short_description|safe }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if object.articles.count %}
    <div class="row pt-5 mb-5">
        <div class="col-12 col-md-11 mx-auto col-lg-10">
            <h4 class="text-left ml-075rem">Artykuły z tego numeru:</h4>

            <table class="table table-hover table-last-row-border">
                {% for article in object.articles.all %}
                    <tr data-href="{{ article.get_absolute_url }}" class="clickable-row">
                        <td>{{ article.title }}</td>
                        <td><a href="{{ article.get_absolute_url }}">Czytaj</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}

{% endblock %}