$card-border-radius = 18px
$button-border-radius = 6px
$button-border-radius = 12px

primary_color = #005A7B
primary_color_light_1 = #e6edfa
primary_color_light_2 = #dfe5f2

accent_color = #582c39

$body-font-family = "Maven Pro", Helvetica, sans-serif
$serif-font-family = 'Playfair Display', serif

card_padding = 32px
card_padding_mobile = 16px

$primary-gradient = linear-gradient(40deg, #005A7B 0, #007ea6 100%)
$accent-gradient = linear-gradient(80deg, #e66465 0, #9198e5 100%)
